.button-yes{
    width: 150px;
    height: 40px;
    display: flex;
    background-color: black;
    border-radius: 10px;
    color: white;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.button-yes:hover{
    background-color: grey;
}
.button-first{
    width: 150px;
    height: 40px;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.button-first:hover{
    background-color: grey;
}
.button-live{
    width: 150px;
    height: 40px;
    display: flex;
    background-color: black;
    border-radius: 10px;
    color: white;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}
.button-live:hover{
    background-color: grey;
}
.button-color{
    width:60px;
    height: 40px;
    display: flex;
    background-color: rgb(252, 247, 247);
    border-radius: 10px;
    color: rgb(12, 12, 12);
    gap: 10px;
    align-items: center;
    cursor: pointer;
    
}
.button-category{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.button-category:hover{
    background-color: grey;
}